In [ ]:
import pandas as pd
import numpy as np
import math as m
from collections import Counter

In [2]:
characters = ""
separated_characters = ""
for i in range(33,123):
    characters += chr(i)
for char in "`.,?-_[]{}<>()|'\"\\/":
    characters = characters.replace(char, '')
for char in characters:
    char += ' '
    separated_characters += char
character_list = separated_characters.split(' ')
character_list.remove('')
print(character_list)

['!', '#', '$', '%', '&', '*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', ';', '=', '@', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '^', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [3]:
def give_type(character):
    if character.isnumeric():
        return 'Number'
    elif character.islower():
        return 'Lowercase'
    elif character.isupper():
        return 'Uppercase'
    else:
        return 'Special'

In [4]:
character_type_df = pd.DataFrame(character_list, columns=['Character'])
character_type_df['Character Type'] = character_type_df['Character'].apply(give_type)

In [5]:
character_type_df

   Character Character Type
0          !        Special
1          #        Special
2          $        Special
3          %        Special
4          &        Special
..       ...            ...
69         v      Lowercase
70         w      Lowercase
71         x      Lowercase
72         y      Lowercase
73         z      Lowercase

[74 rows x 2 columns]

In [6]:
character_type_df['Character Type'].value_counts()

Character Type
Lowercase    26
Uppercase    26
Special      12
Number       10
Name: count, dtype: int64

In [7]:
keyboard_matrix = np.array([[['1','!'], ['2','@'], ['3','#'], ['4','$'], ['5','%'], ['6','^'], ['7','&'], ['8','*'], ['9','?'], ['0','?'], ['?','?'], ['=','+']],
                 [['q','Q'], ['w','W'], ['e','E'], ['r','R'], ['t','T'], ['y','Y'], ['u','U'], ['i','I'], ['o','O'], ['p','P'], ['?','?'], ['?','?']],
                 [['a','A'], ['s','S'], ['d','D'], ['f','F'], ['g','G'], ['h','H'], ['j','J'], ['k','K'], ['l','L'], [';',':'], ['?','?'], ['?','?']],
                 [['z','Z'], ['x','X'], ['c','C'], ['v','V'], ['b','B'], ['n','N'], ['m','M'], ['?','?'], ['?','?'], ['?','?'], ['?','?'], ['?','?']]])

In [8]:
keyboard_matrix[0]

array([['1', '!'],
       ['2', '@'],
       ['3', '#'],
       ['4', '$'],
       ['5', '%'],
       ['6', '^'],
       ['7', '&'],
       ['8', '*'],
       ['9', '?'],
       ['0', '?'],
       ['?', '?'],
       ['=', '+']], dtype='<U1')

In [9]:
keyboard_matrix.shape

(4, 12, 2)

In [10]:
keyboard_matrix[np.where(keyboard_matrix == 'f')][0][0]

'f'

In [11]:
np.where(keyboard_matrix == 'f')[0][0].item()

2

In [12]:
np.where(keyboard_matrix == 'f')[0][0].item()+np.where(keyboard_matrix == 'f')[1][0].item()

5

In [13]:
96*95

9120

In [14]:
def make_matrix(list, array):
    start_chars = []
    end_chars = []
    distances = []
    for char in list:
        for compchar in list:
            if char == compchar:
                continue
            start_chars.append(char)
            end_chars.append(compchar)
            distances.append(abs(np.where(array == char)[0][0].item() - np.where(array == compchar)[0][0].item()) + abs(np.where(array == char)[1][0].item() - np.where(array == compchar)[1][0].item()))
    return pd.DataFrame({'Start Character': start_chars, 'End Character': end_chars, 'Distance': distances})

In [15]:
character_distance_df = make_matrix(character_list, keyboard_matrix)

In [16]:
character_distance_df

     Start Character End Character  Distance
0                  !             #         2
1                  !             $         3
2                  !             %         4
3                  !             &         6
4                  !             *         7
...              ...           ...       ...
5397               z             u         8
5398               z             v         3
5399               z             w         3
5400               z             x         1
5401               z             y         7

[5402 rows x 3 columns]

In [17]:
character_distance_df[character_distance_df['Distance'] == 0]

     Start Character End Character  Distance
7                  !             1         0
82                 #             3         0
156                $             4         0
230                %             5         0
305                &             7         0
...              ...           ...       ...
5079               v             V         0
5153               w             W         0
5227               x             X         0
5301               y             Y         0
5375               z             Z         0

[72 rows x 3 columns]

In [18]:
character_distance_df[(character_distance_df['Start Character'] == '+')&(character_distance_df['Distance'] == 3)]

    Start Character End Character  Distance
453               +             9         3
473               +             P         3
500               +             p         3

In [19]:
character_distance_df[character_distance_df['End Character'] == '?']

Empty DataFrame
Columns: [Start Character, End Character, Distance]
Index: []

In [20]:
character_distance_df[character_distance_df['Distance'] == 14]

     Start Character End Character  Distance
483                +             Z        14
510                +             z        14
1432               =             Z        14
1459               =             z        14
3364               Z             +        14
3377               Z             =        14
5335               z             +        14
5348               z             =        14

[OLD APPROACH]  
Approach for selecting first character will be a completely random choice and the next character after this seed will be narrowed down in 2 steps. The first step is narrowing down the options to a specific character type with weighted probabilities based on composition of previously selected password characters. The second step is narrowing down the options to a specific distance from the most recently selected character.

[Current Approach]  
Approach for selecting characters will happen in a sequence where the 4 character types will have an equal chance of being selected and after a character type has been selected it will have its probability of being selected reduced and the percentage it was reduced by will be split evenly between the other 3 character types and this process will continue until the desired number of characters has been selected for the generated sequence of character types

In [92]:
test = [m.floor(i/25)+1 for i in range(100)]

In [32]:
test

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4]

In [79]:
Counter(test)

Counter({1: 25, 2: 25, 3: 25, 4: 25})

In [80]:
np.random.shuffle(test)

In [81]:
test

[4,
 1,
 4,
 2,
 1,
 3,
 2,
 4,
 2,
 3,
 1,
 3,
 4,
 3,
 1,
 2,
 4,
 2,
 2,
 1,
 3,
 3,
 4,
 1,
 4,
 4,
 4,
 4,
 2,
 4,
 4,
 1,
 4,
 3,
 2,
 1,
 3,
 3,
 2,
 3,
 2,
 3,
 2,
 1,
 2,
 1,
 4,
 2,
 4,
 4,
 2,
 3,
 3,
 1,
 2,
 4,
 2,
 3,
 3,
 1,
 3,
 3,
 3,
 1,
 3,
 3,
 2,
 1,
 1,
 4,
 1,
 3,
 2,
 2,
 2,
 2,
 4,
 1,
 3,
 1,
 1,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 4,
 1,
 3,
 4,
 4,
 4,
 3,
 3,
 2,
 2,
 2,
 4]

In [45]:
rng = np.random.randint(1, 5)

In [53]:
list(Counter(test).keys())

[4, 3, 1, 2]

In [63]:
Counter(test)[4]

10

In [216]:
def generate_character_type_sequence(character_length):
    sequence = []
    start_weights = [0.3, 0.3, 0.2, 0.2]
    weight_deltas = [i/2 for i in start_weights]
    character_types = ["Uppercase", "Lowercase", "Number", "Special"]

    char = 0
    while char < character_length:
        while char >= character_length - 2:
            while len(set(sequence)) < 4:
                selected_type = np.random.choice(list({"Uppercase", "Lowercase", "Number", "Special"} - set(sequence))).item()
                sequence.append(selected_type)
                char += 1
            break

        selected_type = np.random.choice(character_types, p=start_weights).item()
        # print(char, start_weights, selected_type, weight_deltas[character_types.index(selected_type)])
        sequence.append(selected_type)

        for type in character_types:
            if type == selected_type:
                if start_weights[character_types.index(type)] - weight_deltas[character_types.index(selected_type)] < 0:
                    start_weights[character_types.index(type)] -= start_weights[character_types.index(type)] 
                else:
                    start_weights[character_types.index(type)] -= weight_deltas[character_types.index(selected_type)]
            else:
                if start_weights[character_types.index(selected_type)] - weight_deltas[character_types.index(selected_type)] < 0:
                    start_weights[character_types.index(type)] += start_weights[character_types.index(selected_type)]/3
                else:
                    start_weights[character_types.index(type)] += weight_deltas[character_types.index(selected_type)]/3
        char += 1
        start_weights = start_weights / np.sum(start_weights, dtype=np.float64)
        weight_deltas = [i/2 for i in start_weights]
    return sequence

In [219]:
print(generate_character_type_sequence(10))

['Number', 'Lowercase', 'Number', 'Special', 'Lowercase', 'Uppercase', 'Number', 'Special', 'Number', 'Uppercase']

In [200]:
def deprecated_generate_character_type_sequence(character_length):
    prob_distribution = [m.floor(i/25)+1 for i in range(100)]
    num_sequence = []
    type_dict = {1: 'Number', 2: 'Lowercase', 3: 'Uppercase', 4: 'Special'}
    
    char = 0
    while char < character_length:
        
        while char >= character_length-2:
            while len(set(num_sequence)) < 4:
                rng = np.random.choice(list({1,2,3,4}-set(num_sequence))).item()
                # while rng not in num_sequence:
                #     rng = prob_distribution[np.random.randint(0, 100)] 
                num_sequence.append(rng)
                char += 1
            break

        if char >= character_length:    
            break
        
        rng = prob_distribution[np.random.randint(0, 100)]
        count = Counter(prob_distribution)
        
        for i in list(count.keys()):
            if i == rng:
                if count[i] >= 9:
                    for j in range(9):
                        prob_distribution.remove(i)
                else:
                    for j in range(count[i]):
                        prob_distribution.remove(i)
            else:
                for j in range(3):
                    prob_distribution.append(i)
        
        while len(prob_distribution) > 100:
            rng_excess = np.random.randint(1, 5)
            if rng_excess != rng:
                prob_distribution.remove(rng_excess)
        np.random.shuffle(prob_distribution)
        num_sequence.append(rng)
        char += 1
    
    sequence = [type_dict[num] for num in num_sequence]
    return num_sequence

In [101]:
Counter(test)

Counter({1: 49, 4: 25, 3: 25, 2: 1})

In [106]:
len(set(test))

4

In [215]:
print(generate_character_type_sequence(16))

['Uppercase', 'Number', 'Special', 'Uppercase', 'Special', 'Lowercase', 'Special', 'Lowercase']

In [220]:
print(sorted(generate_character_type_sequence(12)))

['Lowercase', 'Lowercase', 'Lowercase', 'Lowercase', 'Number', 'Number', 'Special', 'Special', 'Special', 'Special', 'Uppercase', 'Uppercase']

In [76]:
print(rng)
Counter(test)

3

Counter({1: 40, 4: 28, 2: 16, 3: 16})